
<div class = "container">
<h1>Stupid Coaching</h1>
<h6> Ask your coach anything:</h6>

<div class="input-group mb-3">
<form  action="/answer" data-turbo="false">
  <input type="text" class="form-control" aria-describedby="button-addon2" name="question">
  <input type="submit" class="btn btn-primary" value="Ask!">
</form>
</div>
</div>


